<div class="projects-container">
  <div class="footer-columns">
    <div class="footer-left">
      <p>Progetto del prof. Antonio Belluscio</p>
      <p class="license">
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.it" target="_blank" rel="noopener">
          Licenza CC BY-NC-SA
        </a>
      </p>
    </div>
    <div class="footer-right">
      <p class="repository">
        <a href="https://github.com/belluscio-abafr/galleria-corsi" target="_blank" rel="noopener">
          Repository GitHub
        </a>
      </p>
    </div>
  </div>
</div>
